*::before,
 ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: hsl(210, 9%, 9%)0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 20px #00000029;
    margin-bottom: 10px;
}

.content {
    /* height: 300px; */
    max-width: 100%;
    padding: 1em;
    color: #fff;
    margin-bottom: 10px;
}

@media(min-width:800px) {
    .card {
        /* display: flex; */
    }
}